body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  grid-gap: 20px;
  background-color: #fff;
  color: #444;
}

.box {
	display: flex;
  background-color: #444;
  color: #fff;
  border-radius: 15px;
  padding: 20px;
  font-size: 100%;
}
